.glasses {
    position: relative;
    display: block;
    width: 300px;
    margin: auto;
    left: -20px;
    top: -100px;
    -webkit-transition: all 4s;
    transition: all 4s;
    z-index: 1;
    -webkit-animation-name: load; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: load;
    animation-duration: 30s;
}

@-webkit-keyframes load {
    0% {top: -100px}
    100% {top: 260px}
}

/* @keyframes load {
    0% {top: -100px}
    4% {top: 260px}
    96% {top: 260px}
    100% {top: 260px}
} */

@keyframes load {
    0% {top: -200px}
    10% {top: -200px}
    30% {top: -260px}
    45% {top: 260px}
    90% {top: 260px}
    100% {top: -100px}
}